.main-content {
    overflow: hidden;
    position: relative;
}

.main-slider {
    position: relative;
    margin-bottom: 80px;
}

.main-slider-content {
    margin-bottom: 0 !important;
}



.main-slider .slick-dots {
    bottom: 15px;
    counter-reset: dots;

}

.slick-dots li {
    width: 40px;
    height: auto;
}

.slick-dots li button {
    width: 40px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: transparent;
    background: var(--secondarycolor);
}

.slick-dots li button:before {
    width: 100%;
    height: 2px;
    content: '';
    opacity: 1;
    background: #4E4F51;
}

.main-slider .slick-dots li {
    margin: 0;
}

.main-slider .slick-dots li:after {
    counter-increment: dots;
    content: counter(dots, decimal-leading-zero);
    color: #4E4F51;
    position: absolute;
    top: -30px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;

}

.main-slider .main-item {
    position: relative;
}

.first-company {
    position: absolute;
    top: 42px;
    z-index: 1;
    display: flex;
    align-items: center;
    color: #3B3C3E;
}

.first-company span {
    font-family: "bold";
    font-size: 106px;
    line-height: 80px;
}

.first-company b {
    padding-top: 6px;
    max-width: 90px;
    font-size: 14px;
    display: inline-block;
    /* vertical-align: bottom; */
    margin-right: -12px;
}


.slider-caption {
    position: absolute;
    padding-top: 50px;
    max-width: 500px;
    width: 70%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


.slider-caption h3 {
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 10px;
    opacity: 0;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}


.slider-caption p {
    opacity: 0;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    font-size: 40px;
    line-height: 53px;
}

.main-item {
    position: relative;
}

.main-slider .slick-arrow {
    position: absolute;
    left: -25px;
    height: 50px;
    width: 50px;
    background: #fff;
    line-height: 65px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    bottom: 40px;
    top: auto;
}

.main-slider .slick-prev:before,
.main-slider .slick-next:before {
    color: #4C4D4F;
    font-size: 30px;
}

.main-slider .slick-prev {
    background: #4C4D4F;
    color: #fff;
    bottom: 100px;
    right: auto;
    z-index: 2;

}

.main-slider .slick-prev:before {
    color: #fff;

}

.main-slider .slick-arrow:hover {
    left: 0;
    background: var(--maincolor);

}

.main-slider .slick-arrow:hover:before {
    color: #fff;
}

.slick-current .slider-caption h3 {
    opacity: 1;
    animation: fadeInRight 1s cubic-bezier(0.645, 0.045, 0.355, 1) .1s both;
    -webkit-animation: fadeInRight 1s cubic-bezier(0.645, 0.045, 0.355, 1) .1s both;
}

.slick-current .slider-caption p {
    opacity: 1;
    animation: fadeInLeft 1s cubic-bezier(0.645, 0.045, 0.355, 1) .1s both;
    -webkit-animation: fadeInLeft 1s cubic-bezier(0.645, 0.045, 0.355, 1) .1s both;
}

.has_border_top,
.has_border_bottom {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;

}

.has_border_top {
    padding-top: 130px;

}

.has_border_bottom {
    padding-bottom: 130px;
}

.has_border_top:before,
.has_border_bottom:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 70px;
    right: 0;
    background-image: url(../images/main/pattern.png);
    background-size: auto 100%;
    background-color: #fff;
}

.pattern {
    content: "";
    position: absolute;
    width: 150%;
    height: 70px;
    right: 0;
    top: 0;
    /* background-image: url(../images/main/pattern.png); */
    background-color: rgba(0, 0, 0, .05);
}

.has_border_top:before {
    top: 0;
}

.has_border_bottom:after {
    bottom: 0;
}

.sm-border:before {
    height: 60px;
}

.big-first {
    position: static;
}

.big-first img{
    height: 120px;
}
.about-desc {
    line-height: 33px;
    color: #A7A9AC;
}

.about-desc h2 {
    margin-bottom: 30px;
}

.products {
    margin-bottom: 0;
}

.products-grid {
    background: #F9F9F9;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.products-grid:nth-of-type(4n+2),
.products-grid:nth-of-type(4n+3) {
    background: var(--thirdcolor);
}

.products-div {
    height: 320px;
    padding: 10px 20px;
}

.products-div a {
    display: block;
}

.products-grid:hover:after {
    content: '';
    top: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: .5;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 154, 222, .1) 50%, rgba(255, 255, 255, 0) 99%, rgba(125, 185, 232, 0) 100%);
    animation: cat_light .7s;
    -webkit-animation: cat_light .7s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}


.products-div img {
    max-height: 150px;
    position: absolute;
    bottom: -150px;
    max-width: 250px;
    left: 0;
    right: 0;
    margin: auto;
}

.products-div:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.products-grid:hover {
    background: #fff;
}
.products-grid h3 {
    line-height: 33px;
}

.products-grid:hover h3 {
    color: #4C4D4F;
}


.pages-header .bg {
    background: url(../images/main/pages-header.png);
    background-size: cover;
    height: 450px;

}

.pages-header .bg>* {
    flex: 0 0 100%;
}

.pages-header .bg>div {
    padding: 0 15px;
}

.pages-header h2 {
    margin-bottom: 20px;
    margin-top: 13px;
}

.breadcrumbes {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumbes a {
    color: #fff;
    padding: 0 5px;
    font-size: 16px;
}

.breadcrumbes a:hover {
    color: var(--secondarycolor);
}

.about-img img {
    max-width: calc(100% - 30px);
    vertical-align: bottom;
    margin-top: 30px;


}

.about-img {
    position: relative;
    z-index: 1;
}

.about-img::before {
    content: "";
    position: absolute;
    top: 0;
    background: var(--thirdcolor);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    z-index: -1;
}

.about-block {
    background: #F9F9F9;
    padding: 40px;
    line-height: 33px;
    color: #A7A9AC;
    min-height: 385px;
    margin-bottom: 20px;
}

.about-block:before {
    background: var(--thirdcolor);
    height: 0;
}

.about-block::after {
    background: var(--maincolor);
    height: 5px;
}

.about-block:hover::before {
    height: 100%;
}

.img-container {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
}

.img-container img {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    max-height: 70%;
    max-width: 70%;
}

.about-block h4 {
    margin-bottom: 30px;
    line-height: 33px;

}

.about-block:hover h4 {
    color: var(--maincolor);
}

.about-block:hover {
    color: #4E4F51;
}

.about-block:hover img {
    transform: scale(1.2) translateY(-50%);
    -webkit-transform: scale(1.2) translateY(-50%);
    -moz-transform: scale(1.2) translateY(-50%);
    -ms-transform: scale(1.2) translateY(-50%);
    -o-transform: scale(1.2) translateY(-50%);
}


.right-about-vision {
    padding: 20px;
}

.right-about-vision-grid {
    background: var(--thirdcolor);
    display: flex;
    align-items: center;
    color: #4C4D4F;
    line-height: 33px;
    overflow: hidden;
    position: relative;

}

.right-about-vision-grid h3 {
    color: var(--maincolor);
    margin-bottom: 20px;
    line-height: 38px;
}

.right-about-vision-grid ul li {
    list-style-type: none;
    margin-bottom: 25px;
    position: relative;
}

.left-about-vision-grid {
    display: flex;
    align-items: center;
}

.right-about-vision-grid ul li:before {
    content: "";
    position: absolute;
    top: 6px;
    height: 12px;
    width: 12px;
    border: 2px solid var(--maincolor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.vision-row {
    margin-bottom: 20px;
}


#map-canvas {
    height: 600px;
}

.contact-pg {
    position: relative;
    min-height: 800px;
}

.contact-pg .row {
    min-height: 800px;
}

.map-grid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 40%;
    z-index: 1;
    padding: 60px 0;
}


.map-grid:before,
.map-grid:after {
    background-image: url(../images/main/pattern.png);
    background-size: auto 100%;
    background-color: #8B8B8B;
    height: 60px;
    bottom: 0;
    z-index: 1;
    width: 60%;
}

.map-grid:before {
    top: 0;
    bottom: auto;
}

.gm-style-iw-d {
    font-family: "bold";
}

.single-product-details {
    color: #8E8E8E;
    font-size: 14px;
    line-height: 33px;
}

.single-product-details h3 {
    line-height: 39px;
    margin-bottom: 20px;
    font-size: 20px;
}

.single-product-details h4 {
    line-height: 39px;
    margin-bottom: 20px;
    font-size: 20px;
}

.product-social {
    margin: 35px auto;
}

.product-social ul {
    display: inline-block;
}

.product-social a {
    margin: 0 5px;
    color: var(--secondarycolor);
    font-size: 20px;
    display: inline-block;
    transition-duration: 1s;
}

.product-social a:hover {
    color: var(--maincolor);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.two-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.two-btns>* {
    vertical-align: text-top;
    flex: 0 0 calc(50% - 10px);
    width: calc(50% - 10px);
}

.two-btns .custom-btn .wave-btn {
    width: 700px;
    height: 200px;
}

.two-btns .custom-btn {
    width: 100%;
}

.order-btn {
    display: inline-block;
}

.order-btn>span {
    display: block;
    background: #F9F9F9;
    position: relative;
    color: #A7A9AC;
    padding: 7px 10px;
    font-size: 13px;
    margin-top :30px ;
}

.order-btn>span::before {
    content: "";
    position: absolute;
    top: -40px;
    border: 20px solid transparent;
    border-bottom-color: #F9F9F9;
    right: calc(50% - 20px);
}

.fill-btn {
    background: var(--maincolor);
    color: #fff;
}

.two-btns .custom-btn {
    min-width: 100px;
}

.two-btns .custom-btn:hover {
    background: var(--maincolor);
    color: #fff;
}

.two-btns .fill-btn:hover {
    background: #fff;
    color: var(--maincolor);
}

.single-product-img-grid {
    margin-bottom: 30px;
}

.single-product-img-grid  img{
    max-height: 70%;
    max-width: 70%;
    margin: auto;
}
.nav-tabs{
    border-bottom-color: #BCBDC0;
}

 .tab-content{
    padding: 30px 0;
    position: relative;
    overflow: hidden;
}


.tab-content>.tab-pane.active {
    position: relative;
    z-index: 1;
    opacity: 1;
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    /* transition-delay: 0.2s; */
    pointer-events: inherit;
}

.tab-content>.tab-pane {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: opacity 0.7s, transform 0.7s;
    -webkit-transition: opacity 0.7s, transform 0.7s;
    -moz-transition: opacity 0.7s, transform 0.7s;
    -ms-transition: opacity 0.7s, transform 0.7s;
    -o-transition: opacity 0.7s, transform 0.7s;
    pointer-events: none;
}


.style-tabs .nav-item{
    margin: auto 20px;
}

.style-tabs .nav-link {
    border: none;
    font-size: 16px;
    color: #BCBDC0;
    position: relative;
    padding:  20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.style-tabs .nav-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--maincolor);
    bottom: -3px;
    z-index: -1;
}

.style-tabs .nav-item.show .nav-link:before,
.style-tabs .nav-link.active:before {
    width: 100%;
}

.style-tabs {
    border-bottom-color: #BCBDC0;
}

.style-tabs .nav-item {
    margin-bottom: 0;
    padding: 0;
}

.style-tabs .nav-item.show .nav-link,
.style-tabs .nav-link.active {
    color: var(--maincolor);
    background: none;
}

.about-product ul li{
    padding: 25px 0;
    border-bottom: 1px dashed #BCBDC0;
    display: flex;
    justify-content: space-between;
    color: #4C4D4F;
    font-size: 16px;


}

.about-product ul li span{
    color: #BCBDC0;
}


.table th{
    color: #4C4D4F;
}
.table td{
    color:#BCBDC0
}
.table thead th{
    border: none;
    padding: 25px 5px;

}
.table td{
    border-top-style: dashed;
    border-top-color: #BCBDC0;
    padding: 25px 5px;
    white-space: nowrap;

}

.table tbody tr:last-of-type td{
    border-bottom: 1px dashed #BCBDC0;
}
